$header-font-size: 6em;

.space-background, .stripes-background {
	min-height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.stripes-background {
	background-image: url(images/stripes.png);
}

.space-background {
	background-image: url(images/space.png);
	padding-top: 4em;
	margin-bottom: -1 * $header-font-size;
	text-align: center;

	.search-bar {
		display: inline-block;
		position: relative;

		svg {
			height: 3em;
			width: 3em;
			position: absolute;
			right: 1em;
			top: 1em;
			padding: 0.1em;
		}
		button {
			margin: 1em auto;
			display: block;
		}
	}
	h1 {
		font-size: $header-font-size;
		margin: 0 auto 1em;
		word-spacing: 7px;
		line-height: 1;
		max-width: 15em;
	}
}
