.space-background {
	padding-top: 4em;
	text-align: center;

	.search-bar {
		display: inline-block;
		position: relative;

		svg {
			height: 3em;
			width: 3em;
			position: absolute;
			right: 1em;
			top: 1em;
			padding: 0.1em;
		}
		button {
			margin: 1em auto;
			display: block;
		}
	}
	h1 {
		text-align: center;
		top: 1em;
		font-size: 4.5em;
		margin-bottom: 2em;
	}
}
