html, body {
	box-sizing: border-box;
	font-family: Prisma;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	zoom: 1;
}

input {
	padding: 1em;
	border-radius: 50%;
	width: 10em;
	background-color: rgba($dark-green, .3);
	border: 2px solid $dark-green;
}

h1, h2, h3, h4, h5 {
	color: $white;
	font-weight: normal;
	margin-top: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	background: $dark-green;
	color: $white;
	font-size: 2em;
	padding: 0.5em 1.5em;
	border-radius: 2em;
	outline: none;
	border: 2px solid $dark-green;
	transition: 0.2s background ease-in;
	display: block;
	margin: 1em auto;

	&:hover {
		background: rgba($dark-green, 0.5);
	}
}
