// Fonts
@font-face {
		font-family: "Prisma";
		src: url("fonts/Prisma.otf") format("opentype");
		src: url("fonts/Prisma.ttf") format("truetype");
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder { color: $color; }
	&:-moz-placeholder { color: $color; }
	&::-moz-placeholder { color: $color; }
	&:-ms-input-placeholder { color: $color; }
}

// Colors
$dark-green: #001F1B;
$white: #fff;

// Breakpoints
$small-screen: "only screen and (min-width: 12em)";
