.politicians {
	@include clearfix;
}

.decorative-div {
	background-color: rgba($white, .2);
	margin-bottom: 3em;
	padding: 1em;
}

.politician {
	padding: 1em 2em;
	position: relative;
	.saturn {
		float: left;
		top: -1em;
		position: relative;
		.saturn-icon {
			height: 2em;
			width: 2em;
		}
	}

	.frame {
		height: 5em;
		width: 5em;
		display: inline-block;
		background: $white;
		margin: -2.5em .5em 0;
		position: relative;
		float: left;
		h4 {
			position: absolute;
			top: 0.3em;
			text-align: left;
			left: 4.8em;
			width: auto;
			padding: .5em;
			line-height: 1.1;
			opacity: 0.8;
		}

		.portrait {
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center;
			box-shadow: 0px 1px 0 5px $dark-green;
		}
		a {
			border-color: transparent;
			background-color: transparent;
			transition: all .3s ease-in;
			padding: 0.1em;
			display: inline-block;
			margin: 0.3em 0 0;
			border-radius: 60px;
			border: 2px solid transparent;

			&:hover {
				border: 2px solid $white;
				background-color: rgba($white, .3);
			}
			svg {
				display: block;
				width: 1.6em;
				height: 1.6em;
				margin: 4px;
				font-size: 0.4em;
			}
		}
	}
}
