.search-bar {
	display: inline-block;
	position: relative;

	@media #{$small-screen} {
		font-size: 2em;
	}

	@media #{$medium-screen} {
		font-size: 1em;
	}

	svg {
		height: 1em;
		width: 1em;
		font-size: 3em;
		position: absolute;
		right: 0.3em;
		top: 0.3em;
		padding: 0.1em;
	}
	& + button {
		margin: 1em auto;
		display: block;
		font-size: 1em;

		@media #{$small-screen} {
			font-size: 3em;
		}

		@media #{$medium-screen} {
			font-size: 2em;
		}
	}
	input {
		@include placeholder($dark-green);
		padding: 0.5em 2.5em 0.5em 1em;
		border-radius: 2em;
		outline: none;
		font-size: 2em;
		background-color: rgba(0, 31, 27, 0.3);
		color: $white;
		text-align: center;

		&:focus {
			@include placeholder(transparent);
		}
	}
}
